<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>数据存储</title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet">
	</head>
	<body class="pear-container">
		<form class="layui-form" lay-filter="form_config">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md12">
					<div class="layui-card" lay-filter="component-form-element">
						<div class="layui-card-header">Redis设置</div>
						<div class="layui-card-body layui-row layui-col-space10">
							<div class="layui-col-md12">
								<div class="layui-form-item">
									<label class="layui-form-label">Redis</label>
									<div class="layui-input-block">
										<input type="checkbox" name="redis" lay-skin="switch" lay-filter="config_switch" title="ON|OFF" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">开启SSL</label>
									<div class="layui-input-block">
										<input type="checkbox" name="redis_ssl" lay-skin="switch" lay-filter="config_switch_boolean" title="ON|OFF" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">IP地址</label>
									<div class="layui-input-inline">
									<input type="text" name="redis_host" lay-verify="required" lay-filter="config_input" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">端口号</label>
									<div class="layui-input-inline">
									<input type="text" name="redis_port" lay-verify="required|number" lay-filter="config_input" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">密码</label>
									<div class="layui-input-inline">
									<input type="text" name="redis_password" lay-verify="" autocomplete="off" lay-filter="config_input" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">连接池大小</label>
									<div class="layui-input-inline">
									<input type="text" name="redis_pool_size" lay-verify="required|number" lay-filter="config_input" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-input-block">
									<button type="submit" class="pear-btn pear-btn-primary" lay-submit lay-filter="config_save">保存</button>
									<button type="reset" class="pear-btn">重置</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script src="../../js/config.js"></script>
	</body>
</html>
